.wrapper{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}
.img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.fullname{
  text-align: center;
  color:goldenrod;
}
.card{
  padding:  20px 40px;
  box-shadow: 0 0 7px 7px lightgray;
}
.boxes{
  display: flex;
  gap:10px;
  & div{
    width: 100px;
    height: 100px;
    background-color: black;
    &:hover{
      background-color: red;
    }
    @media screen and (max-width: 768px){
      background-color: blue;
    }
  }
}
