.wrapper{
  box-shadow: 0 0 8px 7px teal;
}
.title{
  text-align: center;
  font-weight: bold;
  color: green;
}
.list{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.padding{
  padding: 20px;
}