.header{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  font-weight: bold;
  background-color: var(--bg-green);
}
.list{
  display: flex;
  gap:20px;
  align-items: center;
  list-style: none;
}
